! .Xresources

! General settings
XTerm*termName: xterm-256color
XTerm*utf8: 1
XTerm*locale: true
xterm*faceName: LiberationSans Mono
xterm*faceSize: 10
xterm*renderFont: true
Xterm*loginShell: true
xterm*internalBorder: 10
XTerm*saveLines: 4500
XTerm*selectToClipboard: true
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! Colors
*.foreground:   #d0b6b6
*.background:   #252525


*.color0:       #252525
*.color1:       #c34646
*.color2:       #8c9440
*.color3:       #eab244
*.color4:       #5f819d
*.color5:       #85678f
*.color6:       #5e8d87
*.color7:       #6d6d6d

*.color8:       #2f2f2f
*.color9:       #cc6666
*.color10:      #b5bd68
*.color11:      #e7be6d
*.color12:      #81a2be
*.color13:      #b88caa
*.color14:      #8abeb7
*.color15:      #d0b6b6
